<main class="flex flex-col justify-center w-full items-center">
  <article class="px-40 pb-14">
    <app-breadcrumb></app-breadcrumb>

    <section class="flex mt-8 gap-10">
      <app-accordion-smartphone class="lg:max-w-xs md:max-w-52"></app-accordion-smartphone>
      <div class="w-full flex justify-center">
        <ul class="grid lg:grid-cols-3 md:grid-cols-2 gap-y-10 gap-x-8">
          <li
            class="bg-[#F6F6F6] w-[300px] h-[432px] rounded-md"
            *ngFor="let product of products"
          >
            <div class="flex flex-col px-4 py-6 justify-end h-full">
              <div class="flex flex-col gap-6 items-center">
                <img
                  src="{{ product.thumbnail | upscale }}"
                  alt="Product thumbnail"
                  class="w-[160px] h-[160px] mix-blend-multiply"
                />
                <div class="flex flex-col text-center w-[220px]">
                  <span class="font-medium truncate">{{ product.title }}</span>
                  <p class="relative pt-6 text-gray-400">
                    <span class="line-through">{{
                      product.original_price | currency : "BRL"
                    }}</span>
                  </p>
                  <span class="font-semibold text-2xl"
                    >R${{ product.price }}</span
                  >
                </div>

                <button hlmBtn routerLink="/products/{{product.id}}" class="w-40">
                  Buy Now
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="mt-10">
      <pagination-component />
    </section>
  </article>
</main>
