<main class="px-40">
  <product-detail-breadcrumb
    [product_name]="product_name"
  ></product-detail-breadcrumb>
  <section class="py-28">
    <div class="flex gap-12 justify-center items-center">
      <div>
        <img
          src="{{ product.thumbnail | upscale }}"
          alt="Product image"
          class="w-[413px]"
        />
      </div>
      <div>
        <div class="flex flex-col gap-6">
          <h2 class="font-bold text-4xl">{{ product.title }}</h2>
          <div class="flex items-center gap-4">
            <span class="font-medium text-3xl">{{ product.price }}</span>
            <span class="text-2xl text-[#A0A0A0] line-through"
              >${{ product.original_price }}</span
            >
          </div>
          <div>
            <div class="">
              <span class="font-medium">{{
                product.attributes[15].value_name
              }}</span>
            </div>
          </div>
        </div>
        <div class="max-w-lg flex">
          <p class="max-h-[100px] text-[#6C6C6C] trunce">
            {{
              showCompleteText
                ? description.plain_text
                : description.plain_text.slice(0, 200)
            }}
          </p>
        </div>
        <div class="py-8 w-full flex gap-4">
          <button
            hlmBtn
            variant="outline"
            class="text-black border border-black py-7 px-14"
          >
            Add to Wishlist
          </button>
          <button hlmBtn class="py-7 px-14">Add to Cart</button>
        </div>
        <div class="gap-8 flex">
          <div class="flex gap-4">
            <div class="bg-[#F6F6F6] p-4 rounded flex items-center">
              <hlm-icon name="lucideCar" class="size-6" color="gray"></hlm-icon>
            </div>

            <div class="flex flex-col justify-center">
              <span class="text-[#717171]">Delivery</span>
              <span></span>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="bg-[#F6F6F6] p-4 rounded flex items-center">
              <hlm-icon
                name="lucideStore"
                class="size-6"
                color="gray"
              ></hlm-icon>
            </div>

            <div class="flex flex-col justify-center">
              <span class="text-[#717171]">In Stock </span>
              <span></span>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="bg-[#F6F6F6] p-4 rounded flex items-center">
              <hlm-icon name="lucideBadgeCheck" class="size-6" color="gray">
              </hlm-icon>
            </div>
            <div class="flex flex-col justify-center">
              <span class="text-[#717171]">Guaranteed</span>
              <span *ngIf="product.sale_terms[0]">
                {{ product.sale_terms[0].value_name }}
              </span>
              <span *ngIf="product.sale_terms[1] && !product.sale_terms[0]">
                {{ product.sale_terms[1].value_name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
