<footer class="bg-black flex justify-between text-[#CFCFCF] px-40 py-28">
  <div class="max-w-96">
    <p>
      We are a residential interior design firm located in Portland. Our boutique-studio offers more than
    </p>
  </div>

  <div>
    <ul class="flex flex-col gap-4">
      <li class="font-medium text-white">Services</li>
      <li>Bonus program</li>
      <li>Gift cards</li>
      <li>Credit and payment</li>
      <li>Service contracts</li>
      <li>Non-cash account</li>
      <li>Payment</li>
    </ul>
  </div>

  <div>
    <ul class="flex flex-col gap-4">
      <li class="font-medium text-white">Assistance to the buyer</li>
      <li>Find an order</li>
      <li>Terms of delivery</li>
      <li>Exchange and return of goods</li>
      <li>Guarantee</li>
      <li>Frequentçy asled questions</li>
      <li>Terms of use of the site</li>
    </ul>
  </div>
</footer>
