<div hlmAccordion>
  <div hlmAccordionItem>
    <button hlmAccordionTrigger>
      Brand
      <hlm-icon hlmAccIcon />
    </button>
    <brn-accordion-content hlm>
      <div class="flex flex-col gap-2">
        <input-search-brand></input-search-brand>
        <brand-checkbox> Apple </brand-checkbox>
        <brand-checkbox> Samsung </brand-checkbox>
        <brand-checkbox> Xiaomi </brand-checkbox>
        <brand-checkbox> Poco </brand-checkbox>
        <brand-checkbox> Nokia </brand-checkbox>
        <brand-checkbox> Motorola </brand-checkbox>
      </div>
    </brn-accordion-content>
  </div>

  <div hlmAccordionItem>
    <button hlmAccordionTrigger>
      Battery capacity
      <hlm-icon hlmAccIcon />
    </button>
    <brn-accordion-content hlm>
      Yes. It comes with default styles that match the other components'
      aesthetics.
    </brn-accordion-content>
  </div>

  <div hlmAccordionItem>
    <button hlmAccordionTrigger>
      Screen type
      <hlm-icon hlmAccIcon />
    </button>
    <brn-accordion-content hlm>
      Yes. It's animated by default, but you can disable it if you prefer.
    </brn-accordion-content>
  </div>

  <div hlmAccordionItem>
    <button hlmAccordionTrigger>
      Price
      <hlm-icon hlmAccIcon />
    </button>
    <brn-accordion-content hlm>
      Yes. It's animated by default, but you can disable it if you prefer.
    </brn-accordion-content>
  </div>

  <div hlmAccordionItem>
    <button hlmAccordionTrigger>
      Memory size
      <hlm-icon hlmAccIcon />
    </button>
    <brn-accordion-content hlm>
      Yes. It's animated by default, but you can disable it if you prefer.
    </brn-accordion-content>
  </div>
</div>
