<div class="bg-[#211C24] flex px-[160px] justify-between items-center">
  <div class="text-white">
    <div>
      <h1 class="text-6xl">IPhone 14 <span class="font-bold">PRO</span></h1>
      <p class="text-[#909090] mt-6">
        Created to change everything for the better. For everyone
      </p>
    </div>
    <div class="mt-10">
      <a routerLink="/products" class="border border-white py-4 px-8 rounded">
        Shop Now
      </a>
    </div>
  </div>
  <div>
    <img src="/assets/Iphone Image.png" class="" />
  </div>
</div>
<div class="bg-[#EDEDED] items-center flex justify-between py-14">
  <div class="ml-20">
    <div>
      <h1 class="text-6xl">Macbook <span class="font-bold">Air</span></h1>
      <p class="text-[#909090] mt-4">
        The new 15-inch MacBook Air makes room for more of what <br />you love
        with a spacious Liquid Retina display.
      </p>
    </div>
    <button class="border border-black py-4 mt-6 px-8 rounded">Shop Now</button>
  </div>
  <img src="/assets/macbook.svg" />
</div>
