<footer class="bg-black flex justify-between text-[#CFCFCF] px-40 py-28">
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
      temporibus? Tenetur, excepturi rem. Voluptatum, assumenda!
    </p>
  </div>

  <div>
    <ul>
      <li class="font-semibold text-white">Services</li>
      <li>Bonus program</li>
      <li>Gift cards</li>
      <li>Credit and payment</li>
      <li>Service contracts</li>
      <li>Non-cash account</li>
      <li>Payment</li>
    </ul>
  </div>

  <div>
    <ul>
      <li class="font-semibold text-white">Assistance to the buyer</li>
      <li>Bonus program</li>
      <li>Gift cards</li>
      <li>Credit and payment</li>
      <li>Service contracts</li>
      <li>Non-cash account</li>
      <li>Payment</li>
    </ul>
  </div>
</footer>
